{% extends 'layout.html' %}
{% block content %}

<!-- Display uploaded images -->
<div class="container mt-5">
    <h2>Uploaded Images</h2>
    <div id="uploadedImages">
        {% for image in images %}
        <div class="uploaded-file mb-4">
            <img src="{{ url_for('static', filename='images/' + image.filename) }}" 
                 class="thumbnail thumbnail-small clickable-image" 
                 alt="{{ image.filename }}" 
                 data-bs-toggle="modal" 
                 data-bs-target="#imageModal"
                 data-image-id="{{ image.id }}"
                 data-image-src="{{ url_for('static', filename='images/' + image.filename) }}"
                 data-image-description="{{ image.description }}"
                 data-image-tags="{% for tag in image.tags %}{{ tag.name }} {% endfor %}">
            <div class="filename">{{ image.name }}</div>
            <div class="description">
                <textarea class="form-control description-input" data-image-id="{{ image.id }}" placeholder="Add a description">{{ image.description }}</textarea>
                <button class="btn btn-sm btn-primary mt-2 save-description" data-image-id="{{ image.id }}">Save Description</button>
            </div>
            <div class="tags">
                <input type="text" class="form-control tag-input" data-image-id="{{ image.id }}" placeholder="Add a tag">
                <button class="btn btn-sm btn-success mt-2 add-tag" data-image-id="{{ image.id }}">Add Tag</button>
                <div class="tag-list mt-2">
                    {% for tag in image.tags %}
                        <span class="badge bg-secondary">{{ tag.name }}</span>
                    {% endfor %}
                </div>
            </div>
            <button class="btn btn-sm btn-danger delete-image" data-image-id="{{ image.id }}">Delete</button>
        </div>
        {% endfor %}
    </div>
</div>

<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="imageModalLabel"></h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <img id="modalImage" src="" class="img-fluid" alt="Modal Image">
                <p id="modalDescription" class="mt-3"></p>
                <div id="modalTags" class="mt-2"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}