{% extends "layout.html" %}

{% block title %}Vintage Radio Gallery{% endblock %}

{% block content %}
<div class="gallery">
    {% for image in images %}
    <div class="image-card">
        <img src="{{ url_for('static', filename='images/' + image.filename) }}" 
             alt="{{ image.description or 'Vintage radio part' }}">
        <div class="image-info">
            <h3 class="image-title">{{ image.description or "Vintage Component" }}</h3>
            <div class="tags">
                {% for tag in image.tags %}
                <span class="tag">{{ tag.name }}</span>
                {% endfor %}
            </div>
            <a href="{{ url_for('images.edit_image', image_id=image.id) }}" 
               class="edit-btn">
                Edit Details
            </a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}